@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Fredoka", sans-serf;
  --font-family-one: "Fredoka One", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-bg-color: #202020;
  --secondary-bg-color: #282828;
  --primary-color: #FEE715FF;
  --secondary-color: #ff7235;
  --tertiary-color: #ffffff;
  --primary-shadow: rgba(0, 0, 0, .3);
  --secondary-shadow: #f8f8f8;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
}

.plan {
  font-family: var(--font-family-one);
}

.screen {
  background: #F3EDE0;
  width: 450px;
  height: 800px;
  margin-top: 2vh;
  display:flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: auto;
}

.title {
  margin: 0.5rem;
  font-size: 2rem;
  color: #32936F;
}

.subTitle {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.dailyTask {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-one);
}

.history {

}

.consecutive {
}

.timeSlot {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.timeNumber {
  font-family: var(--font-family-one);
  font-size: 2rem;
  display: flex;
  margin-top: 1rem;
}

.overflowSection {
  display: flex;
  position: relative;
  width: 100%;
}

.box {
  width: 141px;
  height: 141px;
  background: white;
  border-radius: 13px;
  margin: 1rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.smallBox {
  font-family: var(--font-family);
  width: 104px;
  height: 92px;
  background: white;
  border-radius: 13px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.smallBoxDotBorder {
  width: 98px;
  height: 87px;
  border-radius: 13px;
  margin: 0.5rem;
  border: 2px dashed white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.5rem;
  flex-direction: column;
}

.smallBoxDotBorder:hover {
  cursor: pointer;
}

.topButton {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 18px;
  color: white;
}

.topButton:hover {
  cursor: pointer;
}

.topButtonText {
  background: #ABC270;
  padding: 0.5rem 1rem;
}

.button {
  background: #ABC270;
  height: 3rem;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1.5rem 3rem;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.smallButton {
  background: #ABC270;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  width: 80%;
  font-family: var(--font-family);
  height: 1rem;
  color: white;
}

.plusSign {
  font-family: var(--font-family);
  font-size: 50px;
  margin-top: -0.5rem;
}

.smallRoundArea {
  background: #CFCFCF;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  width: 80%;
  height: 1rem;
  color: white;
}

.innerText {
  width: 100%;
  font-size: 0.75rem;
  padding: 0.5rem 1rem 1rem 1rem;
  overflow-wrap: break-word;
}

.emoji {
  display: none;
  font-family: var(--font-family);
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task {
  display: none;
}

.task:hover {
  cursor: pointer;
}

.taskLabel {
  background: #ABC270;
}

.overlayBackground {
  display: none;
  position: absolute;
  top: 2vh;
  border-radius: 6px;
  opacity: 0.5;
  width: 450px;
  height: 800px;
  background: black;
}

.addTaskOverlay {
  width: 323px;
  height: 264px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 2rem;
  top: 244px;
  justify-content: flex-start;
  font-size: 28px;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  display: none;
}

.input {
  margin-top: 2rem;
  background: white;
  height: 47px;
  width: 265px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.overlayButton {
  background: #FFCA28;
  height: 3rem;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  margin: 2rem 3rem;
  color: white;
}

.overlayButton:hover {
  cursor: pointer;
}

